name: Build and Test

on: 
  pull_request:
  push:
    branches:
      - master

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    runs-on: linux-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: beta
        profile: minimal
        override: true
        components: rustfmt
    - name: tests
      run: cargo test 
    - name: fmt
      run: cargo fmt -- --check